@use "base/variables" as v;
@use "base/mixins" as m;

.eventos {
  padding: 5rem 0;
  &__heading {
    @include m.heading();
  }

  &__grid {
    @include m.tablet {
      @include m.grid(3, 2rem);
    }
  }
}

.evento {
  margin-bottom: 5rem;

  @include m.tablet {
    margin-bottom: 0;
  }

  &__imagen {
    width: 100%;
    object-fit: cover;
  }
  &__contenido {
    border: 0.2rem solid v.$grisClaro;
  }
  &__fecha {
    text-align: center;
  }
  &__nombre {
    color: v.$gris;
    padding: 0 2rem 2rem 2rem;
  }
  &__autor {
    display: flex;
    align-items: center;
    padding: 0 2rem 2rem 2rem;
    gap: 3rem;

    @include m.tablet{
        flex-direction: column;
        text-align: center;
    }

    @include m.desktop{
        flex-direction: row;
        text-align: left;
    }
    &-imagen {
      img {
        max-height: 10rem;
        border-radius: 50%;
      }
    }
  }
  &__organizado {
    &-texto {
      font-weight: 700;
      margin: 0;
    }
    &-nombre {
      margin: 0;
    }
  }
}
